.aboutContainer {
  max-width: 70%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  place-content: center;
  text-align: center;
}

.aboutContainer > h1 {
  text-align: left;
}

.aboutContainer h1 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.aboutContainer p {
  font-weight: 200;
  color: var(--text-lightgrey-color);
  margin-bottom: 1.5rem;
}

.socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.github {
  font-size: 2rem;
  color: hsl(264, 28%, 45%);
  transition: all 0.3s ease-in-out;
}

.github:hover {
  scale: 1.2;
}

.twitter {
  font-size: 2rem;
  color: hsl(203, 89%, 53%);
  transition: all 0.3s ease-in-out;
}

.twitter:hover {
  scale: 1.2;
}

.contact {
  cursor: pointer;
  padding: 0.75rem 1rem;
  background-color: var(--text-color);
  border: 1px solid var(--text-color);
  color: var(--bg-color);
  border-radius: 0.75rem;
  font-size: 1rem;
  margin-top: 2rem;
}

.contact:hover {
  color: var(--text-color);
  border: 1px solid var(--text-color);
  background-color: transparent;
}

@media (min-width: 300px) {
  .aboutContainer h1 {
    font-size: 0.9rem;
    line-height: 1.4;
  }
  .aboutContainer p {
    font-size: 0.7rem;
  }
}

@media (min-width: 500px) {
  .aboutContainer h1 {
    font-size: 1.1rem;
  }
  .aboutContainer p {
    font-size: 0.9rem;
  }
}

@media (min-width: 800px) {
  .aboutContainer h1 {
    font-size: 1.3rem;
  }
  .aboutContainer p {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .github {
    font-size: 1.5rem;
  }
  .twitter {
    font-size: 1.5rem;
  }
  .contact {
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
  }
}
