.contactContainer {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.heading {
  text-align: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  width: 50%;
  margin: 2rem auto 0 auto;
  height: 30rem;
  background-color: rgba(255, 255, 255, 0.03);
  padding: 2rem 4rem;
  border-radius: 0.25rem;
}

.label {
  margin-bottom: -0.5rem;
  font-weight: 200;
}

.input {
  padding: 0.75rem 1rem;
  width: 100%;
  border-radius: 0.25rem;
  background-color: var(--bg-color);
  border: none;
  color: rgb(234, 234, 234);
}

.input::placeholder {
  color: rgb(154, 154, 154);
  font-weight: 100;
}

.input:focus {
  outline: none;
  border: 1px solid var(--text-secondary-color);
}

.textarea {
  width: 100%;
  height: 8rem;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--bg-color);
  border: none;
  color: rgb(234, 234, 234);
}

.textarea:focus {
  outline: none;
  border: 1px solid var(--text-secondary-color);
}

.textarea::placeholder {
  color: rgb(154, 154, 154);
  font-weight: 100;
}

.button {
  padding: 0.5rem 2rem;
  background-color: var(--text-secondary-color);
  border-radius: 0.25rem;
  border: 1px solid var(--text-secondary-color);
  cursor: pointer;
  color: var(--bg-color);
}

.button:hover {
  border: 1px solid var(--text-secondary-color);
  color: var(--text-secondary-color);
  background-color: transparent;
}

@media (max-width: 900px) {
  .form {
    width: 90%;
    padding: 2rem 2rem;
  }
}
