*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Titillium Web', sans-serif;
}

:root {
  --bg-color: rgb(24, 24, 27);
  --text-color: hsl(0, 0%, 100%);
  --text-secondary-color: rgb(7, 182, 213);
  --text-lightgrey-color: hsl(216, 16%, 41%);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(235, 235, 235);
}
