.layoutContainer {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.mainLayout {
  flex: 3;
  width: 100%;
}
