.workContainer {
  width: 70%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.heading {
  text-align: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}
